.btn-option {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  margin: 10px;
  border-radius: 5px;
}

.review-edit-form {
  width: 100%;
}

.edit-form-cont {
  width: 100%;
}

.review-edit-form textarea {
  width: 100%;
  height: 300px;
  border: 1px solid lightgrey;
}
