/* contains 3 components: location details, reviews form, booking form  */
#host-image {
  height: 550px;
  width: 100%;
}

.below-image {
  display: flex;
  justify-content: center;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

.location-detail-reviews {
  margin-right: 20px;
  width: 55%;
  min-width: 350px;
  border: 1px solid red;
}

.location-detail {
  border: 1px solid red;
}

.location-detail-title-user {
  display: flex;
  justify-content: space-between;
}

.location-detail-titles {
  padding: 10px;
}

.location-detail-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-detail-user img {
  border-radius: 50%;
  width: 50px;
  margin: 10px 10px;
}

.location-detail-user p {
  font-size: 12px;
  margin-left: 5px;
}

.reviews-form {
  width: 100%;
  border: 1px solid red;
}

.booking-form {
  border: 1px solid red;
}

.location-detail-hometype {
  font-weight: 600;
  font-size: 16px;
  padding: 1px;
}
.location-detail-name {
  font-weight: 700;
  font-size: 28px;
  padding: 1px;
}
.location-detail-region {
  font-size: 16px;
  padding: 1px;
}

.location-attr {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 14px;
  padding: 10px;
}

.location-description {
  padding: 10px;
}

.location-description h2 {
  padding: 10px;
}
