.map-page {
  display: flex;
  flex-direction: row;
}

.map-index {
  height: 100%;
  width: 70%
}


.map-container {
  position: sticky;
  left: 70%;
  height: 90vh;
  width: 35%;
}

.map {
  height: 88vh;
  width: 95%
}
