.modal-background {
  font-family: 'Cinzel', serif;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 175px;
  left: 45%;
  margin-left: -220px;
  width: 500px;
  height: 450px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border: 1px solid black;
}
