.header {
  font-family: 'Cinzel', serif;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header-nav-logo img {
  height: 80px;
  width: 200px;
}

.header-nav-title {
  display: block;
}

.header-nav-left {
  display: flex;
  align-items: center;
  width: 600px;
  top: 0;
}


.login-signup {
  display: flex;
  position: relative;
  top: 35%;
  right: 2%;
  height:53px;
}

.login-signup li:hover {
  cursor: pointer;
  border-bottom: 3px solid #484848;
}

.logout {
  font-size: 18px;
  position: relative;
  top: 20%;
  right: 5%;
}
