
.rootDiv {
  height:100%;
  width:100%;
}

.background {
  position: relative;
}

.background-image {
  position:absolute;
  height: 100vh;
}

.background p {
  position: absolute;
  bottom: 55%;
  left: 35%;
  color:inherit;
  font-family: 'Cinzel', serif;
  font-size: 26px;
  border-radius: 50%;
}
