
.rootDiv {
  height:100%;
  width:100%;
}

.background {
  position: relative;
}

.background-image {
  position: absolute;
  object-fit: cover;
  height: 100vh;
}

.splash-text {
  position: absolute;
  bottom: 46%;
  left: 18%;
  color: black;
  font-size: 50px;
}
